body{
    /* fonts*/
    font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.chivo{
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }